<h2 class="text-center mb-4">{{"EXPERIENCE.TITLE" | translate}}</h2>
<div class="row">
    @for(exp of experience; track $index){
        <div class="col-md-6 mb-4">
            <div class="card shadow experience-card" data-aos="zoom-in-right">
                <div class="card-body">
                    <h5 class="card-title">{{ exp.company}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ exp.dateStart | translateDate  }} - {{ exp.dateEnd | translateDate  }} · {{ exp.position }}</h6>
                    <p class="card-text" innerH>{{ exp.description | translate }}</p>
                </div>
            </div>
        </div>
    }
</div>