  <h2 class="text-center mb-4">{{"SKILLS.TITLE" | translate}}</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-angular fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">Angular</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 80%;">4/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-js fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">TypeScript</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 100%;">5/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-js-square fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">JavaScript</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 100%;">5/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-html5 fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">HTML, CSS, SCSS, Bootstrap</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 100%;">5/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fas fa-server fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">ASP.NET Core</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 60%;">3/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-java fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">Java</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 60%;">3/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-node-js fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">Node</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 60%;">3/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-cuttlefish fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">C#</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 60%;">3/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow skill-card" data-aos="zoom-out-left">
        <div class="card-body d-flex align-items-center">
          <i class="fab fa-react fa-2x me-3"></i>
          <div class="flex-grow-1">
            <h6 class="card-title mb-2">React</h6>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar" style="width: 40%;">2/5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>