@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

h1,
h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    /* títulos marcados */
}

/* Default (light) theme */
:root, .light-theme {
  --background-color: #ffffff;
  --text-color: #333333;
  --nav-background: #212529;
  --nav-text-color: #ffffff;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
}

/* Dark theme */
.dark-theme {
  --background-color: #212529;
  --text-color: #f8f9fa;
  --nav-background: #343a40;
  --nav-text-color: #f8f9fa;
  --link-color: #66b0ff;
  --link-hover-color: #99c2ff;
}

/* Apply theme variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--nav-background);
}

.navbar-brand, .nav-link, .navbar-toggler i {
  color: var(--nav-text-color) !important;
}

.nav-link:hover, .navbar-brand:hover {
  color: var(--link-hover-color) !important;
}

section {
  background-color: var(--background-color);
  color: var(--text-color);
}

footer {
  background-color: var(--nav-background);
  color: var(--nav-text-color);
}

footer a {
  color: var(--nav-text-color);
}

footer a:hover {
  color: var(--link-hover-color);
}